* {
  padding: 0;
  margin: 0; }

a {
  color: white; }

a:hover {
  border-bottom: 1px solid;
  background: #000000; }

body {
  box-sizing: border-box;
  background-color: #0667a7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"); }

html {
  font-family: 'Courier New', Courier, monospace; }

.img {
  margin-left: 5rem; }

h1 {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.513); }

.acson {
  align-items: justify;
  font-size: 20px;
  padding: 2rem;
  margin: 2rem 2rem 4rem 9rem;
  background-color: red; }

.barranav {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around; }

h1 {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.513); }

.SASS img {
  margin-top: 5rem;
  margin-left: 2rem;
  width: 100px; }

.grilla {
  margin: 1rem;
  height: 700px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 25% 25% 50%;
  grid-template-areas: "logo logo cert" "logo logo cert" "p1 p1 p1" "calidad ubicacion dest";
  grid-row-gap: 1rem; }

.caja1 {
  grid-area: logo;
  background-color: rgba(37, 29, 29, 0.527);
  width: 100%;
  height: 100%; }

.caja2 {
  width: 100%;
  height: 100%;
  grid-area: cert;
  background-color: rgba(216, 216, 216, 0.322); }

.caja3 {
  grid-area: p1;
  background-image: url(../img/Banners/batbaner.png);
  background-size: cover;
  margin: 4rem; }

.caja3 h2 {
  text-align: center;
  color: black; }

.caja4 {
  grid-area: calidad;
  background-color: rgba(187, 4, 4, 0.692);
  text-align: right;
  padding: 1rem; }

.caja5 {
  background-color: white;
  grid-area: ubicacion; }

.caja6 {
  grid-area: dest;
  background-color: rgba(187, 4, 4, 0.692); }

.caja6 {
  text-align: center; }

footer {
  position: relative;
  margin-top: 400px;
  background-color: red;
  padding: 55px; }

footer {
  background: linear-gradient(to bottom, #39396d, #640e0e);
  text-align: center;
  color: white; }

.foo p {
  color: black; }

h2 {
  text-align: center;
  background-color: #3e4047; }

.grilla2 {
  margin: 2rem;
  height: 900px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas: "p1 p2 p3"  "p1  p2 p3";
  grid-row-gap: 2rem; }

.box1 {
  grid-area: p1;
  width: 100%; }

.box2 {
  background-color: black;
  grid-area: p2;
  height: 100%;
  width: 100%; }

.box2 img {
  width: 100%;
  height: 100%; }

.box3 {
  grid-area: p3;
  height: 100%;
  width: 100%; }

.amdban {
  grid-area: c1;
  height: 100%;
  width: 100%; }

.div-imagen {
  display: inline-block;
  position: relative; }

.div-imagen > div {
  margin-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0; }

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }

.texto {
  position: absolute;
  top: 10px;
  left: 100px; }

.texto p {
  font-family: 'Heebo', sans-serif;
  background-color: #465f74;
  font-size: 50px; }

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.info {
  text-align: center;
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: rgba(248, 248, 248, 0.596);
  font-size: 30px;
  font-family: 'Noto Serif', serif; }

/**------**/
/**SKINS**/
/**----**/
.grilla3 {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  grid-template-areas: "skin1 skin2 skin3" "skin1 skin2 skin3";
  grid-column-gap: 2rem; }

.skin1 {
  height: 100%;
  width: 100%;
  grid-area: skin1; }

.skin1 p {
  background-color: white;
  text-align: center; }

.skin2 {
  grid-area: skin2;
  height: 100%;
  width: 100%; }

.skin2 p {
  background-color: white;
  text-align: center; }

.skin3 {
  grid-area: skin3;
  height: 100%;
  width: 100%; }

.skin3 p {
  background-color: white;
  text-align: center; }

.grid {
  overflow-y: hidden;
  display: grid;
  overflow: hidden;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "ekko ekko " "leona shen " "leona shen " "leona shen";
  margin: 2rem 1rem 2rem 2rem; }

.normal1 {
  grid-area: ekko;
  width: 100%;
  height: 100%; }

.normal2 {
  grid-area: leona;
  width: 100%;
  height: 100%; }

.normal3 {
  grid-area: shen;
  width: 100%;
  height: 100%; }

.banne {
  width: 100%;
  height: 100%;
  margin: 1rem 1rem 1rem 4rem; }

/**--------**/
/**CONTACTANOS**/
.contacto {
  border: 1px solid #CED5D7;
  border-radius: 6px;
  padding: 45px 45px 20px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset; }

.contacto label {
  display: block;
  font-weight: bold; }

.contacto div {
  margin-bottom: 15px; }

.contacto input[type='text'], .contacto textarea {
  padding: 7px 6px;
  width: 294px;
  border: 1px solid #CED5D7;
  resize: none;
  box-shadow: 0 0 0 3px #EEF5F7;
  margin: 5px 0; }

.contacto input[type='text']:focus, .contacto textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px #dde9ec; }

.contacto input[type='submit'] {
  border: 1px solid #CED5D7;
  box-shadow: 0 0 0 3px #EEF5F7;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0px white;
  background: #e4f1f6;
  background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
  background: -webkit-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%); }

.contacto input[type='submit']:hover {
  background: #edfcff;
  background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
  background: -webkit-linear-gradient(top, #edfcff 0%, #cfe6ef 100%); }

.contacto input[type='submit']:active {
  background: #cfe6ef;
  background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
  background: -webkit-linear-gradient(top, #cfe6ef 0%, #edfcff 100%); }

/**-----**/
/**CUENTA**/
.micuenta {
  font-size: 25px;
  color: white;
  padding: 4px; }
  .micuenta h2 {
    font-size: 25px;
    color: white;
    color: green; }

/**mediaqueris index**/
/**----------**/
@media only screen and (max-width: 600px) and (min-width: 400px) {
  body {
    background-color: black; }
  .img {
    margin-left: 50px;
    justify-items: center;
    height: 200px;
    width: 200px; }
  /**------------**/
  /**------------**/
  /**INDEX**/
  /**---**/
  .grilla {
    background-color: rgba(255, 0, 0, 0);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .caja2 {
    display: none; }
  .caja6 {
    display: none; }
  footer {
    margin: 0;
    position: absolute; }
  .foo {
    background-color: #02383f; } }

@media only screen and (min-width: 650px) and (max-width: 900px) {
  body {
    background-color: hotpink; }
  .img {
    margin-left: 100px;
    justify-items: center;
    height: 400px;
    width: 400px; }
  .caja2 {
    display: none; }
  footer {
    background-color: black; } }
